@use 'variables' as *;

:root, html[data-theme="light"] {
  --background-color: #efefef;
  --text-color: #1c1c1c;
  --border-color: #838383;
  --border-color-alpha: #8383837e;
  --shade-color: #fff;
  --shade-color-alpha: #ffffff7f;
  --highlight-color: #efd096;
  --filter: invert(0);
  --line-color: linear-gradient(to top, #00000000 0%, #00000030 2.5%, #00000030 97.5%, #00000000 100%);
}

html[data-theme="dark"] {
  --background-color: #1c1c1c;
  --text-color: #fff;
  --border-color: #eee;
  --border-color-alpha: #ffffff7e;
  --shade-color: #474747; 
  --shade-color-alpha: #2c2c2c78;
  --highlight-color: #397a95;
  --filter: invert(1);
  --line-color: linear-gradient(to top, #ffffff00 0%, #ffffff7e 2.5%, #ffffff7e 97.5%, #ffffff00 100%);
}

html, body {
	background: var(--background-color);
  color: var(--text-color);
}

.themeswitch {
  position: absolute;
  display: block;
  top: 25px;
  right: 25px;
  z-index: 9;

  &__checkbox {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;

    input {
      display: none;
    }
  }
}

.icon-sun, .icon-moon {
  display: none;
  mix-blend-mode: difference;
}

html[data-theme="light"] .icon-sun {
  display: inline-block;
}

html[data-theme="dark"] .icon-moon {
  display: inline-block;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--highlight-color);
  transition: $animation-time;
  border-radius: 34px;

  &::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    border-radius: 50%;
    background: $white;
    transition: $animation-time;
  }
}

input:checked + .slider {
  &::before {
    transform: translateX(26px);
  }
}