@use "variables" as *;

:root,
html[data-theme="light"] {
  --background-color: #fff;
  --text-color: #1c1c1c;
  --border-color: #838383;
  --border-color-alpha: #8383837e;
  --shade-color: #fff;
  --shade-color-alpha: #ffffff7f;
  --highlight-color: #efd096;
  --highlight-color-alpha: #efd0967e;
  --pulse-shadow: #0000001f;
  --glass-background:
    linear-gradient(to bottom, color-mix(in srgb, #fff 28%, transparent) 0%, transparent 42%),
    linear-gradient(165deg, #54545420, #bebebe20);
  --glass-shadow:
    0 10px 30px -20px color-mix(in srgb, #000 60%, transparent),
    0 2px 8px -2px color-mix(in srgb, #ffffff 30%, transparent),
    0 20px 40px -30px color-mix(in srgb, var(--highlight-color) 10%, transparent),
    inset 0 1px 0 color-mix(in srgb, #fff 18%, transparent),
    inset 0 -1px 0 color-mix(in srgb, #000 10%, transparent);
  --filter: invert(0);
}

html[data-theme="dark"] {
  --background-color: #000;
  --text-color: #fff;
  --border-color: #9f9f9f;
  --border-color-alpha: #9f9f9f7e;
  --shade-color: #474747;
  --shade-color-alpha: #2c2c2c78;
  --highlight-color: #418dad;
  --highlight-color-alpha: #397a957e;
  --pulse-shadow: #ffffff29;
  --glass-background:
    linear-gradient(to bottom, color-mix(in srgb, #c4c4c4 28%, transparent) 0%, transparent 42%),
    linear-gradient(165deg, #2f2f2f20, #9c9c9c20);
  --glass-shadow:
    0 10px 30px -20px color-mix(in srgb, #000 60%, transparent),
    0 2px 8px -2px color-mix(in srgb, #fff 5%, transparent),
    0 20px 40px -30px color-mix(in srgb, var(--highlight-color) 10%, transparent),
    inset 0 1px 0 color-mix(in srgb, #fff 18%, transparent),
    inset 0 -1px 0 color-mix(in srgb, #000 10%, transparent);
  --filter: invert(1);
}

[data-theme-dim] {
  filter: none;
  transition: filter $animation-time ease;
}

html[data-theme="dark"] [data-theme-dim] {
  filter: brightness(0.7);
}

html,
body {
  transition:
    background $animation-time ease,
    color $animation-time ease;
  background: var(--background-color);
  color: var(--text-color);
}