.contact {
  &__content {
    align-items: center;
    justify-content: center;
  }
}

.social-media {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__item {
		position: relative;
		display: inline-block;
		height: var(--huge);
		width: var(--huge);
    fill: #000;

		&__link {
			position: relative;
			display: block;
		}
	}
}