.contact {
  padding: 5% 15%;

  &__title {
    font-size: calc(1rem + 5vw);
    text-align: center;
    line-height: 1.6;
  }

  &__description {
    align-self: center;
    justify-self: center;
  }
}