@media (pointer: fine) and (min-width: 768px) {
	// * {
	// 	cursor: none !important;
	// }

	.cursor {
		display: block;
		position: fixed;
		overflow: hidden;
		opacity: 1;
		border-radius: 20px;
		pointer-events: none;
		transition: transform .1s linear, height var(--animation-time) ease-in-out, width var(--animation-time) ease-in-out, border-radius var(--animation-time) ease-in-out;
		mix-blend-mode: exclusion;
		background: #fff;
	}
}