.theme-switch {
	position: relative;
	width: calc(1rem + 4vw);
	box-pack: center;
	box-align: center;
	margin: 5%;

	&__container>input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
	}

	&--night {
		&__content {
			opacity: 0.5;
		}
	}

	&__inner-shadow {
		stroke-opacity: 0.1;
		stroke-width: 5;
		stroke: #000000;
		fill: none;
	}

	&__rect {
		width: 100%;
		height: 100%;
	}
}