@use '../base/variables' as *;
@use '../functions/breakpoints' as breakpoint;
@use '../components/structures' as struc;
@use '../components/decorations' as decor;

@use 'style';
@use 'display';
@use 'oscillator';
@use 'keyboard';
@use 'effects';

.synth {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.audiobox {
	@include struc.container;
	background: var(--hardware-color);
	box-shadow: var(--hardware-shadow);
	border-radius: $border-radius-large;
	position: relative;
	padding: $gap-large;
}