.biography {
  
  &__content {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
    text-align: left;

  }

  &__hero {

    >img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      max-height: 100%;
    }
  }
}