.cursor {
	position: absolute;
	--base-width: calc(min(var(--viewport-x), var(--viewport-y)) * .07);
  --base-height: calc(min(var(--viewport-x), var(--viewport-y)) * .07);
  --width: var(--base-width);
  --height: var(--base-height);
  width: calc(var(--base-width) * 1px);
  height: calc(var(--base-height) * 1px);

  will-change: transform;
  transform: translate(calc(var(--mouse-x) * 1px), calc(var(--page-y) * 1px)) translate(-50%, -50%);
  transform-origin: center center;
	z-index: 2;
	opacity: .9;
	border-radius: 50%;
	border: solid 2px #000;
	overflow: hidden;
	pointer-events: none;

	&[data-hover] {
    --px: calc(((var(--x) - var(--hover-x)) / var(--w)) - 0.5);
    --py: calc(((var(--y) - var(--hover-y)) / var(--h)) - 0.5);

    --dw: calc(var(--base-w) / var(--w));
    --dh: calc(var(--base-h) / var(--h));

    opacity: 0.2;
    border-radius: calc(var(--base-width) * var(--dw) * 1px) /
      calc(var(--base-height) * var(--dh) * 1px);

    transform: translate(calc(1px * var(--hover-x)), calc(1px * var(--hover-y)))
      translate(calc(150% * var(--px)), calc(150% * var(--py)))
      scale(calc(1 / var(--dw)), calc(1 / var(--dh))) translate(50%, 50%);
  }
}