/* thanks to keyframers
  https://codepen.io/team/keyframers/pen/8af927f6a473d69bd082c7765189ad9e */

.cursor {
  position: fixed;
  --base-width: calc(min(var(--viewport-x), var(--viewport-y)) * .1);
  --base-height: calc(min(var(--viewport-x), var(--viewport-y)) * .1);
  --width: var(--base-width);
  --height: var(--base-height);
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #000000d8;
  will-change: transform opacity;
  transform: translate(calc(var(--mouse-x) * 1px), calc(var(--mouse-y) * 1px)) translate(-50%, -50%);
  transform-origin: center center;
  z-index: 2;
  opacity: 1;
  overflow: hidden;
  pointer-events: none;
  transition-property: width, height, border-color;
  transition-duration: .1s, .1s, .25s;
  transition-timing-function: ease;

  &[data-hover] {
    --wobble-scale: 12;
    --pos-x: calc(((var(--mouse-x) - var(--hover-x)) / var(--width)) * var(--wobble-scale));
    --pos-y: calc(((var(--mouse-y) - var(--hover-y)) / var(--height)) * var(--wobble-scale));

    --dw: calc(var(--base-width) / var(--width));
    --dh: calc(var(--base-height) / var(--height));

    width: calc(var(--hover-width) * 1px);
    height: calc(var(--hover-height) * 1px);

    border-radius: calc(var(--base-width) * 1px) / calc(var(--base-height) * 1px);
    border-color: #ffff00e8 !important;

    transform: translate(calc(1px * var(--pos-x)), calc(1px * var(--pos-y))) translate(calc(1px * var(--hover-x)), calc(1px * var(--hover-y))) translate(-50%, -50%);
  }

  &__background {
    width: 100%;
    height: 100%;
    opacity: .3;
    background: #c7c7c7;
  }

  &__backlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
    background: red;
    background: radial-gradient(circle at 50%, #fff 5%, transparent 50%);
    z-index: 1;
    transform-origin: center center;
    transform: translate(calc(100% * var(--px)), calc(100% * var(--py))) scale(calc(20 * var(--dw)), calc(20 * var(--dh)));
    opacity: 0;

    [data-hover] & {
      opacity: 1;
      transition: opacity .25s;
    }
  }
}