@use "../base/variables" as *;

@mixin acrylic {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
}

@mixin glass {
  background: var(--glass-background);
  box-shadow: var(--glass-shadow);
}