@-webkit-keyframes strike-in {
	0% {
		width: 0;
		left: 0;
		right: auto;
	}

	100% {
		left: 0;
		right: auto;
		width: 100%;
	}
}

@keyframes strike-in {
	0% {
		width: 0;
		left: 0;
		right: auto;
	}

	100% {
		left: 0;
		right: auto;
		width: 100%;
	}
}

@-webkit-keyframes strike-out {
	0% {
		width: 100%;
		left: auto;
		right: 0;
	}

	100% {
		width: 0;
		left: auto;
		right: 0;
	}
}

@keyframes strike-out {
	0% {
		width: 100%;
		left: auto;
		right: 0;
	}

	100% {
		width: 0;
		left: auto;
		right: 0;
	}
}

.nav {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	transform: translateX(-100%);
	background: #b1b1b1;

	&__menu {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: 'DM Sans', sans-serif;
		font-weight: 700;
		font-size: 22px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@include respond-to('small') {
			font-size: 36px;
		}

		&__item {
			position: relative;
			padding: .3em;

			&__link {
				color: #000;
				text-transform: uppercase;

				&::before {
					content: '';
					transition: transform .2s ease-in;
					position: absolute;
					width: 100%;
					height: 6px;
					background: #e2d847f6;
					top: 45%;
					-webkit-animation: strike-out .2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
					animation: strike-out .2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
				}

				&:hover::before {
					-webkit-animation: strike-in .2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
					animation: strike-in .2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
				}
			}
		}
	}
}