.social-media {
	position: relative;
	display: flex;
	flex-direction: row;

	&__item {
		position: relative;
		display: inline-block;
		margin: .8em;
		height: 40px;
		width: 40px;
		fill: #000000;

		&__link {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}