.tab {
	position: absolute;
	bottom: 0;
	margin: 2em .6em;

	&__menu {
		position: relative;
		font-family: 'DM Sans', sans-serif;
		font-size: 22px;
		display: flex;
		flex-flow: column nowrap;
	
		&__item {
			writing-mode: vertical-lr;
			transform: rotate(180deg);
			transform-origin: center center;
			margin: 1.2em 0;
	
			&__link {
				display: block;
				color: #000;
				line-height: 1.6;
			}
		}
	}
}
