.vcard {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;

	&__title {
		font-family: 'DM Serif Display', serif;
		font-weight: 400;
		font-size: 22px;

		@include respond-to('small') {
			font-size: 40px;
			margin-top: .6em;
		}
	}

	&__avatar {
		max-width: 200px;
		border-radius: 50%;

		@include respond-to('small') {
			max-width: 250px;
		}
	}
}

.type-writer {
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	white-space: nowrap;

	@include respond-to('small') {
		margin-top: .6em;
		font-size: 20px;
	}
}


.social-media {
	margin-top: 1em;
	background: #2e2e2e2c;
	border-radius: 5%;
	display: inline-flex;
	list-style: none;

	&__item {
		margin: .6em;
		width: 40px;
		fill: #000000;
		transition: transform .2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}