@use '../base/variables' as *;
@use '../components/decorations' as decor;
@use '../components/structures' as struc;
@use '../utils/breakpoints' as breakpoint;

.banner {
  align-items: center;
  gap: $gap-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include decor.acrylic;
  
  @include breakpoint.respond-to("landscape") {
    width: 100%;
    height: 100vh;
  }

  &__figure {
    position: relative;
    width: 100%;
    height: 100%;
    
    img {
      @include struc.fullframe;
    }
  }

  &__content {
    width: 100%;

    h2 {
      font-size: $h1-font-size;
    }
  }
}