@use '../base/variables' as *;
@use '../components/structures' as struc;
@use '../components/decorations' as decor;
@use '../utils/breakpoints' as breakpoint;
@use '../utils/mixins' as mixin;

.card {
  @include struc.container;

  >.subtitle {
    margin: 60px 0 24px 0;
    font-size: $subtitle-font-size;
  }

  &__item {   
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: $border-radius-large;
    overflow: hidden;
    width: 100%;
    margin-bottom: 48px;
    box-shadow: $box-shadow;

    @include breakpoint.respond-to('desktop') {
      flex-direction: row;
    }

    @include mixin.cycle-card-gradients($card-gradients, of-type);

    &__figure {
      position: relative;
      min-width: 100%;
      min-height: 400px;

      img {
        @include struc.fullframe;
        transform: scale(1.05);
        transition: transform $animation-time ease;

        &.fullframe--contain {
          object-fit: contain;
          background-size: contain;
        }

        &:hover {
          transform: scale(1.25);
        }
      }

      @include breakpoint.respond-to('desktop') {
        min-width: 50%;
      }
    }

    &__content {
      position: relative;
      background: var(--shade-color-alpha);
      padding: $gap-medium;
      @include decor.acrylic;
  
      @include breakpoint.respond-to('desktop') {
        padding: $gap-large;
      }

      > h3 {
        font-size: 26px;
        margin-bottom: $gap-medium;
        line-height: 1.25;
      }

      > p:first-of-type {
        margin-top: 0;
      }
    }

    &__link {
      @include decor.button;
      display: block;
      min-width: 250px;
      align-self: center;
      border-radius: $border-radius;
      margin-top: $gap-medium;
      padding: $gap-small $gap-medium;
      text-align: center;
      font-weight: 500;
      z-index: 0;
      box-shadow: $box-shadow-inset;
    }
  }
}
