@use '../base/variables' as *;
@use '../components/structures' as struc;
@use '../components/decorations' as decor;
@use '../functions/breakpoints' as breakpoint;

$faint-backgrounds: (
  'n': linear-gradient(112deg, #05c0591e, #f9fd501e),
  '2n': linear-gradient(72deg, #6bbdcf1e, #268ea81e),
  '3n': linear-gradient(90deg, #b559921e, #d79cb11e)
);

$button-backgrounds: (
  'n': linear-gradient(90deg, #00bd561a, #f9fd501a),
  '2n': linear-gradient(90deg, #26baee1a, #9fe8fa),
  '3n': linear-gradient(90deg, #55968f1a, #8acbbb1a)
);

.card {
  @include struc.container;

  &__item {   
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: $border-radius-large;
    overflow: hidden;
    width: 100%;
    margin: 20px 0;
    transition: $animation-time ease;
    box-shadow: $box-shadow;

    @include breakpoint.respond-to('desktop') {
      flex-direction: row;
    }

    @each $faint-backgrounds, $i in $faint-backgrounds {
      &:nth-of-type(#{$faint-backgrounds}) {
        background: $i;
      }
    }

    &__figure {
      position: relative;
      min-width: 100%;
      min-height: 400px;

      img {
        @include struc.fullframe;
        transform: scale(1.05);
        transition: transform $animation-time ease;

        &:hover {
          transform: scale(1.25);
        }
      }

      @include breakpoint.respond-to('desktop') {
        min-width: 50%;
      }
    }

    &__content {
      position: relative;
      padding: $gap-medium;
      @include decor.acrylic;
  
      @include breakpoint.respond-to('desktop') {
        padding: $gap-large;
      }

      > h3 {
        font-size: 26px;
        margin-bottom: $gap-small;
        line-height: 1.15;
      }

      > p:first-of-type {
        margin-top: 0;
      }
    }

    &__link {
      display: block;
      min-width: 250px;
      align-self: center;
      border-radius: $border-radius;
      margin-top: $gap-small;
      padding: $gap-small $gap-medium;
      text-align: center;
      font-weight: 500;
      z-index: 0;
      box-shadow: $box-shadow;
      @include decor.button;
    }
  }

  &__subtitle {
    margin: 60px 0 24px 0;
    font-size: $subtitle-font-size;
  }
}
