@use '../base/variables' as *;
@use '../components/decorations' as decor;
@use '../functions/breakpoints' as breakpoint;

.nav {
  display: flex;
  overflow: hidden;

  &__list {
    // only shows in desktop
    @include decor.acrylic;
    
    position: fixed;
    display: none;
    z-index: 9;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--shade-color-alpha);
    align-items: center;
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: $animation-time ease;

    @include breakpoint.respond-to('landscape') {
      display: flex;
    }

    > li {
      display: block; 
      position: relative;
      text-align: center;

      > a {
        display: inline-block;
        font-weight: 500;
        min-width: 150px;
        padding: 10px 0;
      }

      &:not(:last-child) {
        // add subtitle separation effect
        box-shadow: $inset-shadow-x;
      }
    }
  }

  &__rect {
    position: absolute;
    transform: translateX(-100%);
    width: 150px;
    height: 100%;
    background: var(--highlight-color);
  }

  &__menu {
    @include decor.acrylic;
    display: flex;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px 0;
    background: var(--shade-color-alpha);
    transform: translateY(-100%);
    transition: $animation-time;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;

    @include breakpoint.respond-to('landscape') {
      display: none;
    }

    > li {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: $gap-small 0;

      > a {
        text-align: center;
        font-weight: 500;
        min-width: 120px;
        font-size: 26px;
        line-height: 2;
      }
    }
  
    &--visible {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.burger{
  @include decor.acrylic;
  position: fixed;
  z-index: 9;
  top: 15px;
  left: 20px;
  width: 30px;
  height: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;

  @include breakpoint.respond-to('landscape') {
    display: none;
  }

  &__inner {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 3px;
    background: var(--text-color);
    transition: $animation-time;
  
    &::before {
      content: '';
      position: absolute;
      width: 80%;
      left: 10%;
      top: -10px;
      height: 3px;
      background: var(--text-color);
      transition: $animation-time;
    }
  
    &::after {
      position: absolute;
      content: ' ';
      width: 80%;
      left: 10%;
      top: 10px;
      height: 3px;
      background: var(--text-color);
      transition: $animation-time;
    }
  
    &--active {
      background-color: transparent;
  
      &::before {
        transform: rotate(45deg);
        top: 0;
      }
  
      &::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
}