@use "sass:list";
@use "../base/variables" as *;
@use "../components/structures" as struc;
@use "../components/decorations" as decor;
@use "../utils/breakpoints" as breakpoint;

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  --panel-gradient: #{list.nth($card-gradients, 1)};
  border-radius: $border-radius-large;
  border: 1px solid var(--border-color-alpha);
  overflow: hidden;
  isolation: isolate;
  @include struc.container;
  @include decor.glass;

  @include breakpoint.respond-to("landscape") {
    padding: $gap-medium $gap-small;
  }

  .card__item {
    width: inherit;
    margin: $gap-small;
  }

  &__description {
    width: 90%;
    margin: $gap-small 0;
  }

  &__figure {
    border-radius: $border-radius;
    overflow: hidden;
    width: 95%;
    margin: $gap-small 0;
  }
}