@use "../base/variables" as *;
@use "../components/structures" as struc;
@use "../utils/breakpoints" as breakpoint;

.plank {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: $gap-small;
  @include struc.container;

  @include breakpoint.respond-to("landscape") {
    padding: $gap-medium $gap-small;
  }

  &__description {
    width: 90%;
    margin: $gap-small 0;
  }

  &__figure {
    width: 95%;
    margin: $gap-small 0;
  }
}
