
@use '../base/variables' as *;
@use '../components/decorations' as decor;
@use '../components/structures' as struc;
@use '../functions/breakpoints' as breakpoint;

.timeline {
  @include struc.container;

  &__line {
    position: absolute;
    top: 0;
    left: 12px;
    bottom: 0;
    width: 2px;
    background: var(--line-color);
    border: none;
  }

  &__subtitle {
    margin: 60px 0 24px 0;
    font-size: $subtitle-font-size;
  }

  &__inner {
    @include decor.acrylic;
    display: flex;
    flex-direction: column;
    background: var(--shade-color-alpha);
    border-radius: $border-radius-large;
    box-shadow: $box-shadow;
    overflow: hidden;

    @include breakpoint.respond-to('landscape') {
      margin-left: 36px;
    }
  }
  
  &__background {
    top: 0;
    right: 0;
    @include struc.fullframe;

    mask-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 50%,
      #000 100%
    );

    @include breakpoint.respond-to('landscape') {
      mask-image: linear-gradient(
        to right,
        transparent 0%,
        #00000080 50%,
        #000 100%
      );
    }
  }

  &__item {
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &:not(:last-child) {
      // add subtitle separation effect between items
      box-shadow: $inset-shadow-y;
    }

    &:hover{
      .timeline__photo {
        opacity: 0.1;
        transition: opacity $animation-time ease;
      }
    }

    @include breakpoint.respond-to('landscape') {
      flex-direction: row;
    }
  }

  &__logo {
    filter: grayscale(100%) var(--filter);
    width: 125px;
    object-fit: contain;
    margin: $gap-large 0 $gap-small 0;

    @include breakpoint.respond-to('landscape') {
      margin: $gap-medium 0 $gap-medium $gap-large;
    }
  }

  &__photo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    width: 100%;
    justify-content: center;
    padding: $gap-medium $gap-large;

    h3 {
      font-size: $subsubtitle-font-size;
      font-weight: 500;
    }

    h3, p {
      margin: $gap-tiny 0;
    }
  }

  &__button {
    @include decor.button;
    font-weight: 500;
    margin-top: $gap-large;
    padding: $gap-small $gap-large;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    z-index: 1;
  }
}