.theme {
	width: calc(2rem + 1vw);
	height: calc(2rem + 1vw);
	display: flex;
	justify-content: center;
	align-items: start;
	overflow: hidden;

	&__conveyor {
		position: relative;
		height: calc(4rem + 2vw);
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__icon {
		width: 100%;
	}
}