.menu {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding: 15%;

	&:hover &__item {
		opacity: .4;

		&:hover {
			opacity: 1;
		}
	}

	&__item {
		position: relative;
		font-family: 'Young', sans-serif;
		font-weight: 700;
		font-size: calc(1rem + 4vw);
		transition: opacity .3s ease-in-out;
		letter-spacing: .2rem;
		opacity: 1;

		&__link {
			opacity: 0;
			display: block;
			color: #000;
		}
	}
}