.nav {
	position: fixed;
	opacity: 0;
	will-change: opacity;
	z-index: var(--z-below);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;

	&__background {
		position: absolute;
		display: none;
		will-change: opacity;
		opacity: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: #fafafa;

		&__svg {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
}