.cursor {
	position: fixed;
	display: none; // hide in mobile
	pointer-events: none;
	mix-blend-mode: exclusion;
	opacity: 1;
	z-index: 99;

	&__inner {
		width: 40px;
		height: 40px;
		transform-origin: center;
		background: #fff;
	}

	&--no-target {
		opacity: .25;
		filter: blur(24px);
		transition: opacity var(--animation-time) ease;
	}

	&--cover {
		opacity: 1;
		border-radius: 25%;
		transition: border-radius .1s ease, transform var(--animation-time) ease, opacity var(--animation-time) ease;
	}

	&--dot {
		opacity: 1;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		transition: all var(--animation-time) ease;
	}
}

@media (pointer: fine) and (min-width: 768px) {
	.cursor {
		display: block;
	}
}