@keyframes blob {
	0%, 100% {
		border-radius: 0;
	}
}

.cursor {
	position: fixed;
	display: none; // hide in mobile
	pointer-events: none;
	mix-blend-mode: exclusion;
	transition: border-radius .9s linear;
	overflow: overlay;
	opacity: 1;
	z-index: 99;

	&__inner {
		border-radius: 50%; // initial state
		width: 40px;
		height: 40px;
		transform-origin: center;
		opacity: .2;
		background: #fff;
		animation: blob 25s linear infinite;
	}

	&--cover {
		border-radius: 10px;
		transition: all var(--time) ease;
		animation: none;
	}
}

@media (pointer: fine) and (min-width: 768px) {
	.cursor {
		display: block;
	}
}