// dark mode
$allow-dark-mode: 1; // 0 is false, 1 is true

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  cursor: pointer;
  transition: 0.2s;

  .sun-icon, .moon-icon {
    width: 30px;
    height: 30px;
    fill: var(--icon-color);
    transition: fill 0.3s;
  }
}

#mode-toggle {
  display: none;
}

.checkbox {
  display: none;
}

@if ($allow-dark-mode == 1) { 
  @media (prefers-color-scheme: dark) {
    body {
      background: var(--black);
      color: var(--white);
    }
  
    img {
      filter: brightness(.75)
    }
  
    svg {
      fill: var(--white);
    }
  
    .hover-shadow {
      @include respond-to('landscape') {
        transition: box-shadow var(--time) ease;
    
        &:hover {
          box-shadow: 0px 8px 20px #d4d4d433;
        }
      }
    }
  
    .acrylic {
      background: #131313bf;
    }
  
    .backdrop-blur{
      background: #0f0f0fbf;
    }

    .tag {
      background: var(--white);
      color: var(--black);
    }
  }
}
