.dynamic-background {
  color: var(--white);
  background-color: var(--black);
  background-image: radial-gradient(closest-side, #502219, #55271d00), radial-gradient(closest-side, #330323, #36032500), radial-gradient(closest-side, #1f1c10, #27262000), radial-gradient(closest-side, #1a1627, #221c3100), radial-gradient(closest-side, #1f1811, #2b201900);
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
  background-repeat: no-repeat;
  animation: var(--time-long) movement linear infinite;

  @keyframes movement {
    0%, 100% {
      background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
      background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
    }
  
    25% {
      background-size: 100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 60vmax 60vmax;
      background-position: -60vmax -90vmax, 50vmax -40vmax, 0vmax -20vmax, -40vmax -20vmax, 40vmax 60vmax;
    }
  
    50% {
      background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax, 60vmax 60vmax, 80vmax 80vmax;
      background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax, 20vmax 10vmax, 30vmax 70vmax;
    }
  
    75% {
      background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 70vmax 70vmax;
      background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax, -10vmax 10vmax, 40vmax 60vmax;
    }
  }
}

.container {
  width: 100%;
  max-width: 85%;
  
  @include respond-to('tablet') {
    max-width: 600px;
  }

  @include respond-to('landscape') {
    max-width: 750px;
  }

  @include respond-to('desktop') {
    max-width: 950px;
  }
}

.section {
  padding: var(--gap-huge) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.title {
  font-size: 4rem;
  line-height: 4;
}

.subtitle {
  font-size: 2.5rem;
}

.center {
  text-align: center;
}

.tag {
  font-size: 1.5rem;
  background: var(--button-color);
  padding: var(--gap-small) var(--gap-medium);
}

.outlined {
  border: 2px solid var(--charcol-shade);
  transition: border var(--time) ease;

  &:hover {
    border: 2px solid #ffffff00;
  }
}

.rounded {
	border-radius: var(--border-radius);
}

.acrylic {
  background-blend-mode: exclusion;
	-webkit-backdrop-filter: blur(24px);
	backdrop-filter: blur(24px);
}

.full-frame {
  object-fit: cover;
	width: 100%;
	height: 100%;
  transition: transform var(--time) ease;
  transform: scale(1.0);
  
  @include respond-to('landscape') {	
		&:hover {
			transform: scale(1.05);
		}
	}
}

.button {
  display: block;
  background: var(--button-color);
  transition: box-shadow var(--time) ease;

  &:hover, &:focus {
    animation: pulse 1s;
    background: transparent;
    box-shadow: 0 0 0 2em transparent;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--charcol-shade);
  }
}

.link {
  background: var(--black);
  padding: var(--gap-medium);
  text-align: center;
}

.faded {
	opacity: .7;
}

.sticky {
	position: sticky;
  top: 0;
}

.hover-shadow {
  transition: all var(--time) ease;

  &::after {
    content: ' ';
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0 5px 15px var(--accent-color);
    transition: opacity var(--time) ease;
  }

  &:hover::after {
    opacity: 1;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 800px;

  @include respond-to('landscape') {
    flex-direction: row;
  }

  &__figure {
    min-width: 350px;
    max-width: 500px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(48px) opacity(.25);
  }

  &__content {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--space-small);
  }

  &__title {
    text-align: left;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: var(--gap-medium);
  }

  &__nav {
    margin-top: var(--gap-medium);
    width: 100%;
    
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      display: block;
      min-width: 150px;
      text-align: center;
      margin: var(--gap-small) 0;
    }

    &__link {
      padding: var(--gap-small) var(--gap-medium);
      mix-blend-mode: exclusion;
      font-weight: 500;
    }
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__line {
    position: absolute;
    top: 0;
    left: 2.5%;
    bottom: 0;
    width: 2px;
    background: var(--line-color);
    border: none;
    z-index: -1;

    @include respond-to('landscape') {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__time {
    align-self: flex-start;
    font-weight: 500;

    @include respond-to('landscape') {
      align-self: inherit;
    }
  }

	&__item {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include respond-to('landscape') {
      flex-direction: row;
    }

    &__title {
      font-size: 2.4rem;
      margin-bottom: var(--gap-small);
    }

    &__content {
      padding: var(--gap-large);
  
      a {
        opacity: 1;
        
        @include respond-to('landscape') {
          position: absolute;
          opacity: 0;
          left: 50%;
          bottom: var(--gap-large);
          transform: translateX(-50%);
          transition: opacity var(--time) ease;
        }
      }
  
      @include respond-to('landscape') {
        width: 50%;
        transition: background var(--time) ease;
  
        &:hover {
          a {
            opacity: 1;
          }
        }
      }
    }
    
    aside {
      @include respond-to('landscape') {
        width: 50%;
      }
    }

    @include respond-to('landscape') {
      flex-direction: row;
    
      &:nth-of-type(odd) {
        flex-direction: row-reverse;
        text-align: right;
      }
  
      &:nth-of-type(even) {
        flex-direction: row;
      }
    }
  }
}

.exp {
	display: flex;
	flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: var(--gap-large) 0;
    transform-origin: center;
    transition: var(--time) ease;

    @include respond-to('desktop') {
      flex-direction: row;
    }

    @each $faint-backgrounds, $i in $faint-backgrounds {
      &:nth-of-type(#{$faint-backgrounds}) {
        background: $i;
      }
    }

    &__title {
      font-size: 2.5rem;
      margin-bottom: var(--gap-medium);
    }

    &__figure {
      min-width: 450px;
      width: 100%;
      max-height: 350px;

      img {
        height: 400px;
      }

      // a different layout between mobile and desktop
      @include respond-to('desktop') {
        width: 450px;
        max-height: 550px;

        img {
          width: 110%;
          height: 100%;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: var(--gap-medium);
      background: var(--accent-color);
  
      @include respond-to('desktop') {
        padding: var(--gap-large);
      }
    }

    &__link {
      display: block;
      align-self: center;
      mix-blend-mode: exclusion;
      min-width: 150px;
      margin-top: var(--gap-small);
      padding: var(--gap-small) var(--gap-medium);
      text-align: center;
      font-weight: 500;
    }
  }
}

.book {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond-to('landscape') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__cover {
    max-height: 400px;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--gap-small);
    text-align: center;
  }

  &__title {
    font-size: 2rem;
  }
}

.note {
	display: grid;
  grid-template-columns: 1fr;

	@include respond-to('landscape') {
		grid-template-columns: 1fr 1fr; 
	}

  &__item {
    position: relative;
		overflow: hidden;
		margin: var(--gap-small);
  }

  &__figure {
    width: 100%;
    height: 300px;
  }

  &__title {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: var(--space-small);
    padding: var(--gap-small) var(--gap-medium);
    background: var(--accent-color);
  }
}

.social {
  display: flex;
  flex-direction: row;
  margin: var(--gap-medium) 0;

	&__link {
		display: inline-block;
		height: var(--icon);
		width: var(--icon);

    svg {
      height: 100%;
      width: 100%;
      fill: var(--white);
    }
	}

  &__item {
    margin: 0 var(--gap-small);
    display: block;
  }
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  cursor: pointer;
  transition: 0.2s;

  .sun-icon, .moon-icon {
    width: 30px;
    height: 30px;
    fill: var(--icon-color);
    transition: fill 0.3s;
  }
}

#mode-toggle {
  display: none;
}

.checkbox {
  display: none;
}

.icon {
  width: 50%;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  z-index: 1;
}

.ball {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 7px;
  transition: 0.2s;
}

.light .icon--light {
  color: #fafafa;
}
.light .icon--dark {
  color: #151d2a;
}
.light .ball {
  background-color: #151d2a;
}
/* ---- ---- Dark Mode ---- ---- */
.dark {
  background-color: #151d2a;
}
.dark .toggle {
  background: #151d2a;
  box-shadow: 3px 3px 3px #0e131b, -3px -3px 3px #1c2739;
}
.dark .icon--light {
  color: #fafafa;
}
.dark .icon--dark {
  color: #0e131b;
}
.dark .ball {
  background-color: #fafafa;
  transition: 0.3s;
  transform: translateX(60px);
}
