@font-face {
	font-family: 'Perpetua';
	src: url('../fonts/Perpetua.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Segoe UI Variable';
	src: url('../fonts/SegoeUIVariable.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Autography';
	src: url('../fonts/Autography.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Apple Garamond';
	src: url('../fonts/AppleGaramond-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

