.header {
  position: fixed;
  top: 0;
  right: 0;
  margin: var(--item-margin);
	visibility: hidden;
	opacity: 0;
	width: 20%;
}

.burger {
	position: fixed;
	top: 0;
	right: 0;
  justify-content: space-evenly;
	margin: calc(var(--item-margin) );
  width: var(--large);
  height: var(--large);

  &__line {
    width: 100%;
    height: 2px;
    background: #000;
  }
}

.quickmenu {
	justify-content: space-around;
}

.logo {
  width: var(--large);
  height: var(--large);
}

.themeswitch {
	display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

	&__inner {
		position: relative;
		width: var(--large);
		height: var(--large);
		transition: transform var(--animation-time) ease;
		border-radius: 50%;
		background: #1a202c;

		// sun
		&::before {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 50%;
			background: inherit;
			z-index: -1;
			opacity: 0;
			transition: box-shadow 0.4s 0s ease;
		}

		// moon
		&::after {
			content: '';
			position: absolute;
			width: 90%;
			height: 90%;
			top: -20%;
			left: 30%;
			border-radius: 50%;
			background: #fff;
			transition: transform 0.45s ease;
		}
	}
}

.menu {
	text-align: center;

	&:hover &__item {
		opacity: .4;

		&:hover {
			opacity: 1;
		}
	}

	&__item {
		position: relative;
		font-size: var(--large);
		transition: opacity var(--animation-time) ease-in-out;
		opacity: 1;
		margin: var(--item-margin);

		&__link {
			opacity: 0;
			display: block;
			color: #000;
		}
	}
}