main {
	position: absolute;
	top: 0;
}

.hero {
	height: 600px;
  display: flex;
  flex-direction: column;

  @include respond-to('medium') {
    flex-direction: row;
  }
}

.profile {
	overflow: hidden;

	&__picture {
		position: absolute;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.timeline {
  flex-wrap: wrap;

  &__line {
    position: absolute;
    background: #000;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
    background: #000;

    @include respond-to('medium') {
      left: 50%;
    }
  }

	&__item {
    display: flex;
    padding: 12px;

    @include respond-to('medium') { 
      width: 45%;
      align-self: baseline;

      &:nth-of-type(odd) {
        align-self: flex-end;
      }
    }
  }
  &__hero {
    width: 100%;
    height: 150px;
    overflow: hidden;

    &__picture {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
}

.contact {
  &__content {
    align-items: center;
    justify-content: center;
  }
}

.socialmedia {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__item {
		position: relative;
		display: inline-block;
		height: var(--large);
		width: var(--large);
    fill: #000;

		&__link {
			position: relative;
			display: block;
		}
	}
}