.hero {
  display: flex;
  min-height: 700px;

  @include respond-to('landscape') {
    height: 100vh;
    flex-direction: row;
  }

  &__content {
    position: absolute;
    top: 45%;
    right: 15%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-small);
  }

  &__title {
    text-align: left;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: var(--gap-medium);
  }
}

.background {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__blur {
    filter: blur(48px) opacity(.25);
  }

  &__darken {
    filter: brightness(.8);
  }
}

.book {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond-to('landscape') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__cover {
    max-height: 400px;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--gap-small);
    text-align: center;
  }

  &__title {
    font-size: 2rem;
  }
}

.note {
	display: grid;
  grid-template-columns: 1fr;

	@include respond-to('landscape') {
		grid-template-columns: 1fr 1fr; 
	}

  &__item {
    position: relative;
		overflow: hidden;
		margin: var(--gap-small);
  }

  &__figure {
    width: 100%;
    height: 300px;
  }

  &__title {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: var(--space-small);
    padding: var(--gap-small) var(--gap-medium);
    background: var(--accent-color);
  }
}

.social {
  display: flex;
  flex-direction: row;
  margin: var(--gap-medium) 0;

	&__link {
		display: inline-block;
		height: var(--icon);
		width: var(--icon);

    svg {
      height: 100%;
      width: 100%;
      fill: var(--white);
    }
	}

  &__item {
    margin: 0 var(--gap-small);
    display: block;
  }
}

.icon {
  width: 50%;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  z-index: 1;
}

.dynamic-background {
  color: var(--white);
  background-color: var(--black);
  background-image: radial-gradient(closest-side, #502219, #55271d00), radial-gradient(closest-side, #330323, #36032500), radial-gradient(closest-side, #1f1c10, #27262000), radial-gradient(closest-side, #1a1627, #221c3100), radial-gradient(closest-side, #1f1811, #2b201900);
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
  background-repeat: no-repeat;
  animation: var(--time-long) movement linear infinite;

  @keyframes movement {
    0%, 100% {
      background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
      background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
    }
  
    25% {
      background-size: 100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 60vmax 60vmax;
      background-position: -60vmax -90vmax, 50vmax -40vmax, 0vmax -20vmax, -40vmax -20vmax, 40vmax 60vmax;
    }
  
    50% {
      background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax, 60vmax 60vmax, 80vmax 80vmax;
      background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax, 20vmax 10vmax, 30vmax 70vmax;
    }
  
    75% {
      background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 70vmax 70vmax;
      background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax, -10vmax 10vmax, 40vmax 60vmax;
    }
  }
}
