@-webkit-keyframes strike-in {
	0% {
		width: 0;
		left: 0;
		right: auto;
	}

	100% {
		left: 0;
		right: auto;
		width: 100%;
	}
}

@keyframes strike-in {
	0% {
		width: 0;
		left: 0;
		right: auto;
	}

	100% {
		left: 0;
		right: auto;
		width: 100%;
	}
}

@-webkit-keyframes strike-out {
	0% {
		width: 100%;
		left: auto;
		right: 0;
	}

	100% {
		width: 0;
		left: auto;
		right: 0;
	}
}

@keyframes strike-out {
	0% {
		width: 100%;
		left: auto;
		right: 0;
	}

	100% {
		width: 0;
		left: auto;
		right: 0;
	}
}

.nav {
	position: fixed;
	opacity: 0;
	will-change: opacity;
	z-index: var(--z-below);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	&__background {
		position: absolute;
		display: none;
		will-change: opacity;
		opacity: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: #fafafa;

		&__svg {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
}

.menu {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 6vw;

	&:hover &__item {
		opacity: .4;
	}

	&:hover &__item:hover {
		opacity: 1;
	}

	&__item {
		position: relative;
		margin: 2vh 0;
		font-family: 'Coolveltica', sans-serif;
		font-size: calc(1rem + 3vw);
		text-transform: uppercase;
		letter-spacing: .2rem;
		transition: opacity .25s;

		&__link {
			opacity: 0;
			will-change: opacity;
			color: #000;
		}

		&:nth-child(2) {
			filter: hue-rotate(45deg);
		}

		&:nth-child(3) {
			filter: hue-rotate(135deg);
		}

		&:nth-child(4) {
			filter: hue-rotate(215deg);
		}
	}
}

.theme-switch {
	position: relative;
	width: calc(1rem + 4vw);
	box-pack: center;
	box-align: center;

	&__container>input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
	}

	&--night {
		&__content {
			opacity: 0.5;
		}
	}

	&__inner-shadow {
		stroke-opacity: 0.1;
		stroke-width: 5;
		stroke: #000000;
		fill: none;
	}

	&__rect {
		width: 100%;
		height: 100%;
	}
}

.cursor {
	display: none;
	position: fixed;
	z-index: var(--z-top);
	--base-width: calc(min(var(--window-w), var(--window-h)) * .1);
	--base-height: calc(min(var(--window-w), var(--window-h)) * .1);
	--width: var(--base-width);
	--height: var(--base-height);
	width: calc(var(--width) * 1px);
	height: calc(var(--height) * 1px);
	border-radius: 50%;
	border-width: 3px;
	border-style: solid;
	border-color: #000;
	will-change: transform opacity;
	transform: translate(calc(var(--mouse-x) * 1px), calc(var(--mouse-y) * 1px)) translate(-50%, -50%);
	transform-origin: center center;
	overflow: hidden;
	pointer-events: none;
	transition-property: width, height;
	transition-duration: .25s;

	&[data-hover] {
		--wobble-scale: 12;
		--pos-x: calc(((var(--mouse-x) - var(--hover-x)) / var(--width)) * var(--wobble-scale));
		--pos-y: calc(((var(--mouse-y) - var(--hover-y)) / var(--height)) * var(--wobble-scale));

		--dw: calc(var(--base-width) / var(--width));
		--dh: calc(var(--base-height) / var(--height));

		width: calc(var(--hover-width) * 1px);
		height: calc(var(--hover-height) * 1px);
		border-radius: calc(var(--base-width) * var(--dw) * .5px) calc(var(--base-height) * var(--dh) * .5px);
		transform: translate(calc(1px * var(--pos-x)), calc(1px * var(--pos-y))) translate(calc(1px * var(--hover-x)), calc(1px * var(--hover-y))) translate(-50%, -50%);
	}
}