.nav {
  display: block;

  &__list {
    @extend .acrylic;
    @extend .rounded;
    
    position: absolute;
    display: none;
    z-index: 9;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    @include respond-to('landscape') {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    display: block; 
    min-width: 100px;
    text-align: center;

    @include respond-to('landscape') {
      min-width: 150px;
    }
  }

  &__link {
    display: block;
    padding: var(--gap-small) var(--gap-medium);
    font-weight: 500;
    background: var(--accent-color);
    transition: background var(--animation-time);

    &__active {
      background: var(--highlight-color);
    }
  }
}

.burger{
  top: 20px;
  left: 20px;
  position: relative;
  width: 30px;
  height: 3px;
  background: var(--white);

  &-wrapper {
    z-index: 9;
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 3px;
    background: var(--white);
    transition: all var(--animation-time);
  }

  &::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 3px;
    background: var(--white);
    transition: all var(--animation-time);
  }

  &__active {
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
      top: 0;
    }

    &::after {
      transform: rotate(-45deg);
      top: 0;
    }
  }
}