
$faint-backgrounds: (
  'n': linear-gradient(112deg, #05c0591e, #f9fd501e),
  '2n': linear-gradient(72deg, #6bbdcf1e, #268ea81e),
  '3n': linear-gradient(90deg, #b559921e, #d79cb11e)
);

$button-backgrounds: (
  'n': linear-gradient(90deg, #00bd561a, #f9fd501a),
  '2n': linear-gradient(90deg, #26baee1a, #9fe8fa),
  '3n': linear-gradient(90deg, #55968f1a, #8acbbb1a)
);

.card {
	display: flex;
	flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: var(--gap-large) 0;
    transform-origin: center;
    transition: var(--animation-time) ease;

    @include respond-to('desktop') {
      flex-direction: row;
    }

    @each $faint-backgrounds, $i in $faint-backgrounds {
      &:nth-of-type(#{$faint-backgrounds}) {
        background: $i;
      }
    }

    &__title {
      font-size: 26px;
      margin-bottom: var(--gap-medium);
    }

    &__figure {
      min-width: 450px;
      width: 100%;
      max-height: 350px;

      img {
        height: 400px;
      }

      @include respond-to('desktop') {
        width: 450px;
        max-height: 550px;

        img {
          width: 110%;
          height: 100%;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: var(--gap-medium);
      background: var(--accent-color);
  
      @include respond-to('desktop') {
        padding: var(--gap-large);
      }
    }

    &__link {
      display: block;
      align-self: center;
      min-width: 150px;
      margin-top: var(--gap-small);
      padding: var(--gap-small) var(--gap-medium);
      text-align: center;
      font-weight: 500;
      z-index: 1;
    }
  }
}
