path {
  stroke-dasharray: 2125px;
  stroke-dashoffset: 2125px;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2125px;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.cable {
  stroke-dasharray: 40;
  animation: dash 10s reverse linear;
  animation-iteration-count: 100;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.wind {
  stroke-dasharray: 200;
  animation: dash 12s linear;
  animation-iteration-count: 100;
  --webkit-animation: fadein 6s;
}

.center {
  stroke-dasharray: 90;
  animation: dash 10s linear;
  animation-iteration-count: 100;
}