@import 'main';

.hero {
  display: flex;
  flex-direction: column;

  @include respond-to('medium') {
    flex-direction: row;
    height: 100vh;
  }

  figure {
    width: 100%;
    height: 100%;
  }
  
  article {
    width: 100%;
    justify-content: center;

    > h1 {
      padding: $gap-large 0;
      text-align: left;
    }
  }

  nav {
    margin-top: $gap-medium;

    ul {
      justify-content: center;

      li {
        margin: 0 $gap-medium;
      }
    }
  }
}

.quote {
  background: linear-gradient(35deg,#8c66d8 0%,#ac2d9b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @include respond-to('medium') {
    color: #828282;
    transition: color $time ease-in-out;
    
    &:hover {
      background: linear-gradient(35deg,#8c66d8 0%,#ac2d9b 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  &::before {
    content: '“';
    font-size: var(--icon);
    color: #828282;
  }

  &::after {
		content: '';
    margin-top: 24px;
		display: block;
		width: var(--icon);
		height: 3px;
		background: #828282;
	}
}

.timeline {
  flex-wrap: wrap;

  hr {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    transform: translateX(-50%);
    background: linear-gradient(to top, #3a3a3a00 0%, #3a3a3a 2.5%, #3a3a3a 97.5%, #3a3a3a00 100%);
    border: 0;

    @include respond-to('medium') {
      left: 50%;
    }
  }

	article {
    display: flex;
    flex-direction: column;

    @include respond-to('medium') {
      flex-direction: row;

      &:nth-of-type(odd) {
        flex-direction: row-reverse;
        text-align: right;
  
        aside {
          text-align: left;
        }

        div {
          background: linear-gradient(90deg, #ffffff00 0%, #ffffff00 50%, #6124db1a 50%, #c4a2d81a 100%);
          background-size: 300% auto;
          background-position: left center;
          transition: background $time ease-in-out;
    
          &:hover {
            background-position: right center;
          }
        }
      }
  
      &:nth-of-type(even) {
        flex-direction: row;
        text-align: left;

        aside {
          text-align: right;
        }

        div {
          background: linear-gradient(-90deg, #ffffff00 0%, #ffffff00 50%, #db5e241a 50%,#dfef9a1a 100%);
          background-position: right center;
          background-size: 300% auto;
          transition: background $time ease-in-out;
    
          &:hover {
            background-position: 0;
          }

        }
      }
    }
  }

  aside {
    width: 100%;
    padding: $gap-medium;

    a {
      position: absolute;
      content: ' ';
      height: 2px;
      width: 14px;
      font-size: x-large;
      margin: $gap-medium 0;
      background: rgb(235, 185, 22);
      transform: translateX(-50%) translateY(-50%);

      @include respond-to('medium') {
        left: 50%;
      }
    }

    @include respond-to('medium') {
      width: 50%;
    }

    span {
      text-align: center;
      margin: $gap-small $space-small ;
    }  
  }

  div {
    width: 100%;
    padding: $space-small;

    a {
      opacity: 1;
      padding: $gap-medium;
      
      @include respond-to('medium') {
        position: absolute;
        opacity: 0;
        left: 50%;
        bottom: $gap-large;
        transform: translateX(-50%);
        transition: opacity $time ease-in-out;
      }
    }

    @include respond-to('medium') {
      width: 50%;
      transition: background $time ease-in-out;

      &:hover {
        a {
          opacity: 1;
        }
      }
    }
  }
}

.notebook {
	display: flex;
	flex-direction: column;

	@include respond-to('medium') {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr; 
	}

  div {
		overflow: hidden;
		margin: $space-small;

    figure {
      height: 140px;

      @include respond-to('medium') {
        height: 240px;
      }

      figcaption {
        position: absolute;
        top: 0;
        left: 0;
        margin: $space-small;
        padding: $gap-medium;
      }
    }
  }
}

.bookshelf {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond-to('medium') {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  article {
    justify-content: space-between;
    padding: $gap-large;
    text-align: center;
  }
}

.experiences {
	display: flex;
	flex-direction: column;

  article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: $gap-large 0;
    transform-origin: center;
    transition: $time ease-in-out;

    div {
      width: 100%;
  
      @include respond-to('medium') {
        width: 75%;
  
        &:hover {  
          a {
            opacity: 1;
          }
        }
      }
    }

    @include respond-to('medium') {
      flex-direction: row;
    }

    @each $faint-backgrounds, $i in $faint-backgrounds {
      &:nth-of-type(#{$faint-backgrounds}) {
        background: $i;
      }
    }
  }

  figure {
    overflow: hidden;
    width: 100%;
    height: 250px;
    
    @include respond-to('medium') {
      width: 40%;
      height: auto;
    }
  }

  a {
    opacity: 1;
    z-index: 1;
    padding: $gap-medium;

    @include respond-to('medium') {
      position: absolute;
      left: 50%;
      bottom: 0;
      opacity: 0;
      transform: translateX(-50%);
      margin-bottom: $space-small;
      transition: opacity $time ease-in-out;
    }
  }
}