@import 'variables', 'mixins', 'normalize', 'design', 'fonts', 'cursor', 'darkmode';

body {
	background: var(--silk);
  color: var(--black);
  overflow-x: hidden;
}

.quote {
  background: linear-gradient(35deg,#8c66d8 0%,#ac2d9b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  span {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  @include respond-to('landscape') {
    transition: color var(--time) ease;
    
    &:hover {
      background: linear-gradient(35deg,#8c66d8 0%,#ac2d9b 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  &::before {
    content: '“';
    font-size: var(--icon);
  }

  &::after {
		content: '';
    margin-top: 24px;
		display: block;
		width: var(--icon);
		height: 3px;
	}
}