/* mixins */
@import 'mixins/breakpoint';
@import 'mixins/normalize';

/* components */
@import 'components/nav';
@import 'components/burger';
@import 'components/theme-switch';
@import 'components/mouse-scroll';
@import 'components/scrollbar';
@import 'components/biography';
@import 'components/vcard';
@import 'components/highlight';
@import 'components/carousel';
@import 'components/vaporsun';

.landing {
	height: 100vh;
}

#outro {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: #000;
}

#footer {
	height: 60px;
	background: #181818;
	padding: 1em 2em;
	display: flex;
	justify-content: center;
	align-items: center;

	h2 {
		margin: 0;
		font-family: 'DM Sans', sans-serif;
		font-size: 16px;
		color: #d0d0d0;
	}
}

.slide {
	width: 100%;
	overflow-x: hidden;
}

