:root {
	--default-border: 10px;
	--tiny: calc(.5rem + .2vw);
	--small: calc(.8rem + .5vw);
	--medium: calc(1rem + .75vw);
	--large: calc(1rem + 1.25vw);
	--huge: calc(2rem + 2vw);
	--content-padding-quarter: 3.75%;
	--content-padding-half: 7.5%;
	--content-padding: 15%;
	--item-margin-half: 2.5%;
	--item-margin: 5%;
	--item-fixed: 12px;
	--animation-time: .2s;
	--animation-time-long: .8s;
	--animation-time-extra-long: 8s;
}

@import 'breakpoint', 'normalize', 'preamble';

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	font-family: source-sans-pro, sans-serif;
}

.cursor {
	display: none;
	position: fixed;
	opacity: 1;
	border-radius: 50%;
	pointer-events: none;
	transition: transform .07s linear, height var(--animation-time) ease-in-out, width var(--animation-time) ease-in-out, border-radius var(--animation-time) ease-in-out, background-color var(--animation-time) ease-in, opacity var(--animation-time) ease-in;
	transform-origin: center center;
	mix-blend-mode: exclusion;
	background: transparent;
	outline: 2px solid #f5f5f5;
	z-index: 9;
}

@media (pointer: fine) and (min-width: 768px) {
	.cursor {
		display: block;
	}
}

h1 {
	font-family: satisfy, sans-serif;
}

h2 {
	font-family: lora, serif;
}

object {
	pointer-events: none;
}

body {
	background: #f5f5f5;
  color: #0f0f0f;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #0f0f0f;
    color: #f5f5f5;
  }

  img {
    opacity: .8;
  }

  svg {
    fill: #f5f5f5;
  }

  .hover-shadow {
    @include respond-to('medium') {
      transition: box-shadow var(--animation-time) ease-in-out;
  
      &:hover {
        box-shadow: 0px 8px 20px #d4d4d433;
      }
    }
  }
}

.nav {
  padding: var(--content-padding-half) var(--content-padding-half) 0 var(--content-padding-half);
  z-index: 1;
  text-transform: uppercase;

  &__item {
    padding: var(--item-fixed);
    margin: 0 var(--item-margin) 0 0;

    &:nth-of-type(odd) {
      background: linear-gradient(to right, #ffffff00 0%, #ffffff00 50%, #6124db1a 50%, #d09aef1a 100%);
      background-size: 200% auto;
      background-position: right center;
      transition: background var(--animation-time) ease;

      &:hover {
        background-position: 0;
      }
    }

    &:nth-of-type(even) {
      background: linear-gradient(to right, #ffffff00 0%, #ffffff00 50%, #db5e241a 50%, #dfef9a1a 100%);

      background-size: 200% auto;
      background-position: right center;
      transition: background var(--animation-time) ease;

      &:hover {
        background-position: 0;
      }
    }
  }
  
  @include respond-to('medium') {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--content-padding-half) var(--content-padding-half);
    justify-content: space-between;
    
    &__list {
      writing-mode: tb-rl;
    }

    &__item {
      margin: 0 0 var(--item-margin) 0;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;

  @include respond-to('medium') {
    flex-direction: row;
    height: 100vh;
  }

  .profile {
    width: 100%;
    overflow: hidden;
  
    @include respond-to('medium') {
      width: 55%;
    }
  }
  
  .intro {
    width: 100%;
  
    @include respond-to('medium') {
      width: 45%;
    }
  }
  
}

.quote {
  background: linear-gradient(35deg,#6124db 0%,#d09aef 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @include respond-to('medium') {
    color: #494d7c;
    transition: color var(--animation-time) ease-in-out;
    
    &:hover {
      background: linear-gradient(35deg,#6124db 0%,#d09aef 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  &::before {
    content: '“';
    font-size: var(--huge);
    color: #6d6d6d;
  }

  &::after {
		content: '';
    margin-top: 24px;
		display: block;
		width: var(--huge);
		height: 2px;
		background: #6d6d6d;
	}
}

.timeline {
  flex-wrap: wrap;

  &__line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    transform: translateX(-50%);
    background: linear-gradient(to top, #3a3a3a00 5%, #3a3a3a 10%, #3a3a3a 90%, #3a3a3a00 95%);

    @include respond-to('medium') {
      left: 50%;
    }
  }

	&__item {

    &::before{
      position: absolute;
      content: '';
      margin-top: var(--content-padding-quarter);
      transform: translateX(-50%) translateY(-50%);
      width: var(--tiny);
      height: var(--tiny);
      border-radius: 50%;
      background: #a81414;

      @include respond-to('medium') {
        left: 50%;
      }
    }

    @include respond-to('medium') {

      &:nth-of-type(odd) {
        flex-direction: row-reverse;
        text-align: right;
  
        .timeline__fill {
          text-align: left;
        }

        .timeline__content {
          background: linear-gradient(106deg, #ffffff00 0%, #ffffff00 50%, #6124db1a 50%, #c4a2d81a 100%);
          background-size: 300% auto;
          background-position: 0;
          transition: background var(--animation-time) ease;
    
          &:hover {
            background-position: right center;
          }
        }
      }
  
      &:nth-of-type(even) {
        flex-direction: row;
        text-align: left;

        .timeline__fill {
          text-align: right;
        }

        .timeline__content {
          background: linear-gradient(-85deg, #ffffff00 0%, #ffffff00 50%, #db5e241a 50%,#dfef9a1a 100%);
          background-position: right center;
          background-size: 300% auto;
          transition: background var(--animation-time) ease-in-out;
    
          &:hover {
            background-position: 0;
          }
        }
      }
    }
  }

  &__fill {
    width: 50%;
    padding: var(--content-padding-quarter);
  }

  &__date {
    padding: var(--item-margin-half);
    background: #202020;
    color: #f5f5f5;
  }

  &__content {
    padding: var(--content-padding-quarter);

    @include respond-to('medium') {
      width: 50%;
      transition: background var(--animation-time) ease-in-out;
    }
  }
}

.notebook {
	display: flex;
	flex-direction: column;

	@include respond-to('medium') {
		display: grid;
		grid-template-columns: 1fr 1fr; 
	}

  &__item {
		overflow: hidden;
		margin: var(--item-margin);

		&:nth-of-type(n) {
			.notebook__title {
				background: #569964;
			}
		}

		&:nth-of-type(2n) {
			.notebook__title {
				background: #aa679c;
			}
		}

		&:nth-of-type(3n) {
			.notebook__title {
				background: #5c9189;
			}
		}

		&:nth-of-type(4n) {
			.notebook__title {
				background: #a77171;
			}
		}
  }

	&__figure {
		height: 140px;

    @include respond-to('medium') {
      height: 240px;
    }
	}

	&__title {
		position: absolute;
		top: 0;
		left: 0;
		margin: var(--item-margin);
		padding: var(--item-fixed);
		pointer-events: none;
	}
}

.bookshelf {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond-to('medium') {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  &__item {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:var(--item-margin);

    @include respond-to('medium') {
      height: 300px;
    }
  }


  &__image {
    height: 150px;
    border: 2px solid #f5f5f51a;
    box-shadow: 0px 2px 10px #22233a33;

    @include respond-to('medium') {
      height: 250px;
    }
  }
}

.postcard {
	display: flex;
	flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: var(--item-margin);
    transform-origin: center;
    transition: var(--animation-time) ease-in-out;

    @include respond-to('medium') {
      flex-direction: row;

      &:nth-of-type(n) {
        flex-direction: row-reverse;
        background: linear-gradient(80deg, #0076bd1a, transparent 50%);
      }
  
      &:nth-of-type(2n) {
        flex-direction: row;
        background: linear-gradient(-80deg, #bd49491a, transparent 50%);
      }
  
      &:nth-of-type(3n) {
        flex-direction: row-reverse;
        background: linear-gradient(110deg, #a4bd491a, transparent 50%);
      }
    }

    &:nth-of-type(n) {
      background: linear-gradient(80deg, #0076bd1a, transparent 50%);
    }

    &:nth-of-type(2n) {
      background: linear-gradient(-80deg, #bd49491a, transparent 50%);
    }

    &:nth-of-type(3n) {
      background: linear-gradient(110deg, #a4bd491a, transparent 50%);
    }
  }

  &__content {
    width: 100%;

    @include respond-to('medium') {
			width: 60%;

			&::after{
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: -50px;
				right: -50px;
				transition: box-shadow var(--animation-time) ease-in-out;
				clip-path: inset(0px 45px 0px 45px);
			}

      &:hover {
        &::after {
          box-shadow: inset #fff 0 -80px 30px;
        }
  
        .postcard__readmore {
          opacity: 1;
        }
      }
    }
  }

  &__figure {
    overflow: hidden;
    width: 100%;
    height: 250px;
    
    @include respond-to('medium') {
      width: 40%;
      height: auto;
    }
  }

  &__readmore {
    color: #3d3d3d;
    opacity: 1;
    z-index: 1;
    margin-top: var(--item-margin);

    @include respond-to('medium') {
      position: absolute;
      opacity: 0;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      margin-bottom: var(--item-margin);
      transition: opacity var(--animation-time) ease-in-out;
    }
  }
}

.social-media {
  padding: 0 0 var(--content-padding-quarter) var(--content-padding-quarter);

	&__item {
		display: inline-block;
    margin-right: var(--content-padding-quarter);
		height: var(--large);
		width: var(--large);
	}

  &__link {
    display: block;
    
    svg {
      fill: #f5f5f5;
    }
  }
}

.back-to-top {
  position: absolute;
  right: 0;
  width: var(--huge);
  height: var(--huge);
  margin: var(--content-padding-quarter);

  &__arrow {
    fill: transparent; 

    &:hover {
      fill: #f5f5f5;
    }
  }
}

.dynamicbackground {
  color: #f5f5f5;
  background-color: #291a25;
  background-image: radial-gradient(closest-side, #502219, #55271d00), radial-gradient(closest-side, #330323, #36032500), radial-gradient(closest-side, #1f1c10, #27262000), radial-gradient(closest-side, #1a1627, #221c3100), radial-gradient(closest-side, #1f1811, #2b201900);
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
  background-repeat: no-repeat;
  animation: var(--animation-time-extra-long) movement linear infinite;

  @keyframes movement {
    0%, 100% {
      background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
      background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
    }
  
    25% {
      background-size: 100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 60vmax 60vmax;
      background-position: -60vmax -90vmax, 50vmax -40vmax, 0vmax -20vmax, -40vmax -20vmax, 40vmax 60vmax;
    }
  
    50% {
      background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax, 60vmax 60vmax, 80vmax 80vmax;
      background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax, 20vmax 10vmax, 30vmax 70vmax;
    }
  
    75% {
      background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 70vmax 70vmax;
      background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax, -10vmax 10vmax, 40vmax 60vmax;
    }
  }
}