:root{
	--default-border: 20px;
	--medium: calc(1rem + .5vw);
	--large: calc(1rem + 1.5vw);
	--huge: calc(1rem + 3vw);
	--content-padding-half: 7.5%;
	--content-padding: 15%;
	--icon-margin: 10%;
	--animation-time: .2s;
}

@import 'mixins/breakpoint','mixins/normalize','mixins/z-index';
@import 'body/scrollbar','body/cursor';
@import 'nav/nav','nav/menu';
@import 'header';
@import 'main/hero','main/journey','main/inspiration','main/contact','main/highlight';
@import 'footer','footer/theme';

body, main,
footer {
	background: #fafafa;
	font-family: 'source-sans-pro', sans-serif;
}

.full {
	height: 100%;
	width: 100%;
}

.neu-box {
	border-radius: var(--default-border);
	box-shadow: 8px 8px 16px #cccccc, -8px -8px 16px #ffffff;
}

.description {
	line-height: 1.2;
	font-size: var(--medium);
}

.content {
	padding: var(--content-padding-half) var(--content-padding);

	&__inner {
		padding: var(--content-padding-half) var(--content-padding);
	}
}

.title {
	line-height: 1.6;
	font-size: var(--huge);
	text-align: center;
}

.subtitle {
	font-size: var(--large);
}

.grid {
	display: grid;
	grid-template-rows: repeat(4, minmax(0, 1fr));
	grid-template-columns: repeat(6, minmax(0, 1fr));
}


.flex {
	display: flex;
	flex-direction: row;

	&-col {
		display: flex;
		flex-direction: column;
	}
}

.about-me {  
  &__description {    
    @include respond-to('medium') {
      text-align: justify;
    }
  }
}