/* mixins */
@import 'mixins/breakpoint';
@import 'mixins/normalize';
@import 'mixins/z-index';
@import 'mixins/fonts';

/* global elements */
@import 'body/scrollbar';
@import 'body/cursor';

/* navigation elements */
@import 'nav/nav';
@import 'nav/menu';

/* header elements */
@import 'header';
@import 'header/burger';
@import 'header/logo';

/* main elements */
@import 'main/hero';
@import 'main/about-me';
@import 'main/journey';
@import 'main/inspiration';
@import 'main/contact';
@import 'main/highlight';

/* footer elements*/
@import 'footer';
@import 'footer/theme';

main,
footer {
	background: #fafafa;
}

.neu-box {
	border-radius: 10px;
	box-shadow: 8px 8px 16px #cccccc, -8px -8px 16px #ffffff;
}

.gallery {
	position: relative;
	width: 100%;
	max-height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	grid-auto-flow: dense;
	align-items: center;
	justify-content: center;
}

.description {
	font-family: 'Young', sans-serif;
	font-weight: 400;
}

.title {
	font-family: 'Coolvetica', sans-serif;
	font-weight: 400;
	letter-spacing: .1rem;
}

.grid {
	display: grid;
	grid-template-rows: repeat(6, minmax(0, 1fr));
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

.flex {
	display: flex;
	flex-direction: row;

	&-col {
		display: flex;
		flex-direction: column;
	}
}