:root{
	--default-border: 20px;
	--medium: calc(1rem + .5vw);
	--large: calc(1rem + 1.5vw);
	--huge: calc(1rem + 3vw);
	--content-margin-half: 3%;
	--content-margin: 6%;
	--content-padding-quarter: 3.75%;
	--content-padding-half: 7.5%;
	--content-padding: 15%;
	--item-margin: 2.5%;
	--icon-margin: 5%;
	--animation-time: .2s;
}

@import 'breakpoint','normalize';
@import 'body/scrollbar','body/cursor';
@import 'header','main','footer';

* {
	font-family: 'source-sans-pro', sans-serif !important;
}

object{
	pointer-events: none;
}

header {
  z-index: 1;
}

.burger {
  z-index: 1;
}

.cursor {
  z-index: 9;
}

.full {
	height: 100%;
	width: 100%;
}

.neubox {
	border-radius: var(--default-border);
}

.description {
	line-height: 1.2;
	font-size: var(--medium);
}

.content {
	background: #f5f5f5;
	padding: var(--content-padding-quarter) var(--content-padding);

	&__inner {
		padding: var(--content-padding-half) var(--content-padding);
		background: #fff;
	}

	&__tight {
		padding: var(--content-padding-quarter) var(--content-padding-quarter);
		background: #f5f5f5;
	}
}

.centertext {
	text-align: center;
}

.centeritem {
	align-items: center;
	justify-content: center;
}

.title {
	margin-bottom: var(--content-margin);
	font-size: var(--huge);
}

.subtitle {
	font-size: var(--large);
}

.flex {
	display: flex;
	flex-direction: row;

	&-col {
		display: flex;
		flex-direction: column;
	}
}
