/* mixins */
@import 'mixins/breakpoint';
@import 'mixins/normalize';
@import 'mixins/z-index';
@import 'mixins/fonts';

/* global elements */
@import 'body/type-writer';
@import 'body/scrollbar';
@import 'body/theme-switch';
@import 'body/cursor';

/* navigation elements */
@import 'nav/nav';
@import 'nav/menu';

/* header elements */
@import 'header/burger';

/* main elements */
@import 'main/contact';
@import 'main/social-media';
@import 'main/about-me';
@import 'main/hero';
@import 'main/journey';
@import 'main/highlight';

@import 'header';
@import 'footer';

main,
footer {
	background: #fafafa;
}

main {
	box-shadow: 0 2vmin 3vmin rgba(#cecece, .5);
}

.gallery {
	position: relative;
	width: 100%;
	max-height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	grid-auto-flow: dense;
	align-items: center;
	justify-content: center;
}

.description {
	font-family: 'Young', sans-serif;
	font-weight: 400;
}

.title {
	font-family: 'Coolvetica', sans-serif;
	font-weight: 700;
	letter-spacing: .1rem;
}

.grid {
	display: grid;
	grid-template-rows: repeat(6, minmax(0, 1fr));
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

.flex {
	display: flex;
	flex-direction: row;

	&-col {
		display: flex;
		flex-direction: column;
	}
}

.slide {
	width: 100%;
	overflow: hidden;
	min-height: 0;
	min-width: 0;
}