:root {
  --z-top: 9;
  --z-above: 2;
  --z-default: 1;
  --z-below: -1;
  --z-bottom: -9;
}

header {
  z-index: var(--z-default);
}

nav{
  z-index: var(--z-below);
}

.cursor {
  z-index: var(--z-top);
}

.scrollbar {
  z-index: var(--z-default);
}